<app-title-of-search></app-title-of-search>
<section id="listPage">
<div id="sideOfList">
<ul>
    <li (click)="allP()" [routerLink]="['/list','all']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">ALL</li>
    <li (click)="sneakers()" [routerLink]="['/list','sneakers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">SNEAKERS</li>
    <li (click)="running()" [routerLink]="['/list','running']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">RUNNING</li>
    <li (click)="training()" [routerLink]="['/list','training']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">TRAINING</li>
    <hr>
    <li (click)="newArrivals()" [routerLink]="['/list','newArrivals']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
    class="glow">NEW ARRIVALS🔥</li>
    <li (click)="best()" [routerLink]="['/list','best']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">BEST SELLINGS ⭐</li>
    
</ul>
</div>
<app-list></app-list>
</section>