<header>
    <section id="UpperHead">
<div class="leftLogos">
<a href="https://www.nike.com/jordan" target="_blank"><img src="assets/Img/Header/icons8-air-jordan-50.png"></a>
<a href="https://www.converse.com/" target="_blank"><img src="assets/Img/Header/Converse2resize.png" alt="Converse"></a>
</div>

<div class="UpperList">
<nav>
<ul>
<li>Find a Store</li>
<li>Help</li>
<li>Join Us</li>
<li>Sign In</li>
</ul>
</nav>
</div>
</section>

    <section id="MidHead">
<div class="leftMainLogo" [routerLink]="['']">
<img src="/assets/Img/logosmall.png">
</div>
<div class="homeCategories">
<nav>
<ul id="headerMenuCentral">
    <li (mouseenter)="makeItVisible()">New & Featured</li>
    <li>Men</li>
    <li>Women</li>
    <li>Kids</li>
    <li>Sale</li>
</ul>
</nav> 
</div>  
<!-- -------------------------------------------------------------  UNDERMENU-->
<div class="underMenu" [ngClass]="{'show-menu':isMenuVisible}" (mouseleave)="hide()">
    <div class="boxColumns">
    <div class="column">
        <ul>
        <li><h6>Featured</h6></li>
        <li><a [routerLink]="['/list','newArrivals']">Shop All New Arrivals</a></li>
        <li><a [routerLink]="['/list','best']">Best Sellers</a></li>
        <li>Member Shop 🔥</li>
        <li>SNKRS Launch Calendar</li>
        <li>National Team Kits 2024</li>
        <li>Shop Air</li>
        <li>Summer of Sport</li>
    </ul>
</div>
<div class="column">
    <ul>
    <li><h6>Shop Icons</h6></li>
    <li>Air Force 1</li>
    <li>Air Jordan 1</li>
    <li>Air Max</li>
    <li>Dunk</li>
    <li>Blazer</li>
    <li>Pegasus</li>
    <li>Mercurial</li>
    </ul>
</div>
<div class="column" >
    <ul>
    <li><h6>Discover Sports</h6></li>
    <li>Football</li>
    <li>Running</li>
    <li>Basketball</li>
    <li>Fitness</li>
    <li>Golf</li>
    <li>Tennis</li>
    <li>Yoga</li>
    <li>Dance</li>
    <li>Skateboard</li>
    </ul>
</div>
<div class="column" >
    <ul>
    <li><h6>Trending</h6></li>
    <li>Air Max Home</li>
    <li>Y2K Sneakers</li>
    <li>Nike Style By</li>
    <li>Teens</li>
    <li>EasyOn</li>
    <li>Nike Gift Ideas</li>
    <li>Sustainability</li>
    </ul>
</div>
</div></div>
<div id="wrapperSearchAndBasket">
<div class="wrapperSearchbar">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <button class="lens" type="submit"></button>
<input type="text" formControlName="searchQuery" placeholder="Search" id="searchbar" maxlength="30">
</form>
</div>
<div id="rightIcons">
<ul>
    <li  [routerLink]="['/basket']"><img src="/assets/Img/Header/basket.png">
        <div class="counterBasket" *ngIf="ns.numberOfShoes!=0">{{ns.numberOfShoes}}</div> </li>
</ul>
</div>
<div id="menuMobile">
    <button class="menuButtonMobile" (click)="mobileMenuOnOff()"><img src="/assets/Img/Header/hamburger-menu.png">
    </button>
</div>
</div>

</section>

<!--------------------------------  MENU MOBILE -------------------------------------->
<section id="menuMobileTendina" *ngIf="menuMobilePressed && getScreenWidth<768">
    <div>
      <ul>
        <a [routerLink]="['/list','all']"> <li>Explore</li></a>
        <a [routerLink]="['/list','newArrivals']"><li>Shop All New Arrivals</li></a>
        <a [routerLink]="['/list','best']"><li>Best Sellers</li></a>
      </ul>
    </div>
    <div class="backgroundCoverAdded" style="position: absolute; height: 1500px; overflow: auto;" ></div>
  </section>
  

<!-- ---------------------------  SLIDER HEADER -------------------------------------->

<section id="Slider">  
    <!--1-->                 
<div [class]="slider[a].className">
    <span>Member Days Are Coming</span>
<p>
Get ready for five days of drops, workouts and challenges, exclusively for Nike Members. <span class="joinUs">Join Us.</span> 
</p></div>
<!--2-->       
<div [class]="slider[b].className">Shop All New Arrivals
    <p class="joinUs">Just Do It!</p>
</div>
<!--3-->       
<div [class]="slider[c].className"><span>Free Delivery & Returns</span>
    <p>Nike Members get free delivery and free 30-day returns. Learn More <span class="joinUs">Join Us</span></p></div>
</section>
</header>
<ng-container *ngIf="ns.bannerOn">
    <app-banner-header></app-banner-header>
</ng-container>
