<header>
    <section id="UpperHead">
<div class="leftLogos">
<a href="https://www.nike.com/jordan" target="_blank"><img src="assets/Img/Header/icons8-air-jordan-50.png"></a>
<a href="https://www.converse.com/" target="_blank"><img src="assets/Img/Header/Converse2resize.png" alt="Converse"></a>
</div>

<div class="UpperList">
<nav>
<ul>
<li>Find a Store</li>
<li>Help</li>
<li>Join Us</li>
<li>Sign In</li>
</ul>
</nav>
</div>
</section>

    <section id="MidHead">
<div class="leftMainLogo">
<img src="/assets/Img/logosmall.png">
</div>
<div class="homeCategories">
<nav>
<ul id="headerMenuCentral">
    <li (mouseenter)="makeItVisible()">New & Featured</li>
    <li>Men</li>
    <li>Women</li>
    <li>Kids</li>
    <li>Sale</li>
</ul>
</nav> 
</div>  
<!-- -------------------------------------------------------------  UNDERMENU-->
<div class="underMenu" [ngClass]="{'show-menu':isMenuVisible}" (mouseleave)="hide()">
    <div class="boxColumns">
    <div class="column1">
        <ul>
        <li><h4>Featured*</h4></li>
        <li>Shop All New Arrivals</li>
        <li>Best Sellers</li>
        <li>Member Shop 🔥</li>
        <li>SNKRS Launch Calendar</li>
        <li>National Team Kits 2024</li>
        <li>Shop Air</li>
        <li>Summer of Sport</li>
    </ul>
</div>
</div></div>
<div class="wrapperSearchbar">
<input type="text" placeholder="Search" id="searchbar"></div>
<div id="rightIcons">
<ul>
    <li><img src="/assets/Img/Header/heart.png"></li>
    <li><img src="/assets/Img/Header/basket.png"></li>
</ul>
</div>

</section>
<!-- -------------------------------------------------------------  SLIDER HEADER-->
<section id="Slider">
<div class="visualizzato">
    <span>Member Days Are Coming</span>
<p>
Get ready for five days of drops, workouts and challenges, exclusively for Nike Members. <span class="joinUs">Join Us.</span> 
</p></div>
<div>Shop All New Arrivals
    <p class="joinUs">Just Do It!</p>
</div>
<div><span>Free Delivery & Returns</span>
    <p>Nike Members get free delivery and free 30-day returns. Learn More <span class="joinUs">Join Us</span></p></div>
</section>
</header>
<main>
<section id="topBanner">
<div></div>
<div></div>
<div></div>
</section>
<section id="mainBanner">
    <img src="/assets/Img/Home-page/hero-banner.jpg" alt="Hero Banner">
<div class="textOnBanner">
    GIVE THE BEST
    <p>Inspiration and moviment: the perfect gift</p>

    <button>
Buy now
    </button>
    <button>
Kids
    </button>
</div>
</section>

