<footer>
<div class="footerPromos">
    <nav>
        <ul>
            <li>GIFT CARDS</li>
            <li>FIND A STORE</li>
            <li>NIKE JOURNAL</li>
            <li>BECOME A MEMBER</li>
            <li>STUDENT DISCOUNT</li>
            <li>FEEDBACK</li>
            <li>PROMOCODES</li>
        </ul>
    </nav>
</div>
<div class="footerHelp">
    <nav>
        <ul>
            <li class="firstOfList">HELP</li>
            <li>Get Help</li>
            <li>Order Status</li>
            <li>Shipping and Delivery</li>
            <li>Returns</li>
            <li>Payment Options</li>
            <li>Contact Us</li>
            <li>Reviews</li>
            <li>Nike Promo Codes Help</li>
        </ul>
    </nav>
</div>
<div class="footerCompany">
    <nav>
        <ul>
            <li class="firstOfList">COMPANY</li>
            <li>About Nike</li>
            <li>News</li>
            <li>Careers</li>
            <li>Investors</li>
            <li>Sustainability</li>
            <li>Purpose</li>
            <li>UK Tax</li>
            <li>UK Pension Statement</li>
        </ul>
    </nav>
</div>
<div class="sprite">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="footerCopy"><p>Demo project created by <b>Salvatore Pappalardo</b></p>
</div>
</footer>
