<section class="checkoutForm">
    <div class="container mt-5 d-flex">
      
          <!---------------------------------------------------------- Personal Info ----------------------------------------------->
          <div class="form-section me-4" style="border: 2px black solid; flex: 1;">
            <form [formGroup]="formCheckoutPersonalInfo" (ngSubmit)="OnSubmit()" class="personalInfo">
         
          <div class="mb-3 FirstNameDiv">
            <label for="FirstName" class="form-label">First Name:</label>
            <input type="text" id="FirstName" formControlName="FirstName" class="form-control" maxlength="18">
          </div>
  
          <div class="mb-3 LastNameDiv">
            <label for="LastName" class="form-label">Last Name:</label>
            <input type="text" id="LastName" formControlName="LastName" class="form-control" maxlength="25">
          </div>
  
          <div class="mb-3 EmailDiv">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" id="Email" formControlName="Email" class="form-control" maxlength="38">
          </div>
  
          <div class="mb-3 PhoneNumberDiv">
            <label for="PhoneNumber" class="form-label ">Phone Number:</label>
            <div class="input-group">
              <span class="input-group-text">+44</span>
              <input type="tel" id="PhoneNumber" formControlName="PhoneNumber" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 GenderDiv">
            <label for="Gender" class="form-label">Gender:</label>
            <select id="Gender" formControlName="Gender" class="form-select">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="NotDeclared">Prefer not to say</option>
            </select>
          </div>
  
          <div class="mb-3 DateOfBirthDiv">
            <label for="DateOfBirth" class="form-label">Date of Birth:</label>
            <input type="date" id="DateOfBirth" formControlName="DateOfBirth" class="form-control">
          </div>
  
          <button type="submit" class="btn btn-primary">Purchase</button>
  
        </form>
      </div>
  
          <!------------------------------------------------------- Shipping ------------------------------------------------->
          <div class="form-section" style="border: 2px solid red; flex: 1;">
            <form [formGroup]="formCheckoutShipping" (ngSubmit)="OnSubmit()">
            <div class="mb-3">
            <label for="StreetAddress" class="form-label">Street Address:</label>
            <input type="text" id="StreetAddress" formControlName="StreetAddress" class="form-control">
            </div>
  
          <div class="mb-3">
            <label for="AdditionalAddress" class="form-label">Additional Address:</label>
            <input type="text" id="AdditionalAddress" formControlName="AdditionalAddress" class="form-control">
          </div>
  
          <div class="mb-3">
            <label for="CivicNumber" class="form-label">Civic Number:</label>
            <input type="text" id="CivicNumber" formControlName="CivicNumber" class="form-control">
          </div>

          <div class="mb-3">
            <label for="LastName" class="form-label">City:</label>
            <select id="City" formControlName="City" class="form-select">
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
              </select>
          </div>
          
  
          <div class="mb-3">
            <label for="Cap" class="form-label">Postal Code:</label>
            <input type="text" id="Cap" formControlName="Cap" class="form-control">
          </div>  
        </form>
      </div>
    </div>
    <div class="container mt-5" style="text-align: center;">
      <form [formGroup]="formCheckoutPayment">

      <div class="mb-3">
        <label for="CardHolderName" class="form-label">CardHolderName:</label>
        <input type="text" id="CardHolderName" formControlName="CardHolderName" class="form-control">
      </div>

      <div class="mb-3">
        <label for="YearExpire" class="form-label">Expiring Date:</label>
        <input type="text" id="MonthExpire" formControlName="MonthExpire"  placeholder="MM" style="width: 38px;" maxlength="2"/> /
        <input type="text" id="YearExpire" formControlName="YearExpire" placeholder="YYYY" style="width: 48px;" maxlength="4" />
      </div>

      <div class="mb-3">
        <label for="YearExpire" class="form-label">CVC:</label>
        <input type="text" id="CVC" formControlName="CVC" style="width: 38px;" maxlength="3"/> 
      </div>

    </form>
      </div>
  </section>
  