<!-- Checkout page -->
<section class="checkout-form">
  <div class="container">
    <!-- Personal Information Section -->
    <div class="form-section">
      <h3 class="section-title col-md-12 mb-3">Personal informations</h3>
      <form [formGroup]="formCheckoutPersonalInfo">
       
        <!--FIRST NAME-->
          <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" formControlName="FirstName" maxlength="25" appTrim>  <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
            <!--error1-->
            <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('FirstName')?.hasError('pattern') && formCheckoutPersonalInfo.get('FirstName')?.touched">
              *First Name not valid</span>
           <!--error2-->
            <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('FirstName')?.hasError('required') && formCheckoutPersonalInfo.get('FirstName')?.touched">
              *First Name is required</span>
          </div>

           <!-- LAST NAME -->
        <div class="form-group">
          <label for="LastName">Second Name:</label>
          <input type="text" id="LastName" formControlName="LastName" maxlength="25" appTrim>  <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
           <!--error1-->
           <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('LastName')?.hasError('pattern') && formCheckoutPersonalInfo.get('FirstName')?.touched">
            *Last Name not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('LastName')?.hasError('required') && formCheckoutPersonalInfo.get('LastName')?.touched">
            *Last Name is required</span>
        
        </div>
       
        <!-- EMAIL -->
        <div class="form-group">
          <label for="Email">Email:</label>
          <input type="email" id="Email" formControlName="Email" maxlength="38" appTrim> <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
           <!--error1-->
           <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('Email')?.hasError('pattern') && formCheckoutPersonalInfo.get('Email')?.touched">
            *Email format not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('Email')?.hasError('required') && formCheckoutPersonalInfo.get('Email')?.touched">
            *Email is required</span>
        
        </div>
        
        <!-- PHONE NUMBER -->
        <div class="form-group" style="position: relative;" appTrim>
          <label for="PhoneNumber">Phone Number:</label>
          <span class="prefix"><img src="/assets/Img/misc/UnitedKingdom_flag.png" width="26px" height="auto"></span>
          <input type="tel" id="PhoneNumber" formControlName="PhoneNumber" maxlength="15">
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('PhoneNumber')?.hasError('pattern') && formCheckoutPersonalInfo.get('PhoneNumber')?.touched">
            *Phone number not valid
            </span>
            <!--error2-->
            <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('PhoneNumber')?.hasError('required') && formCheckoutPersonalInfo.get('PhoneNumber')?.touched">
            *Phone number is required</span>
        </div>
        
        <!-- GENDER -->
        <div class="form-group">
          <label for="Gender">Gender:</label>
          <select id="Gender" formControlName="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="NotDeclared">Prefer not to say</option>
          </select>
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('Gender')?.hasError('required') && formCheckoutPersonalInfo.get('Gender')?.touched">
            *Select the gender
          </span>
        </div>
        
        
        <!-- DATE OF BIRTH -->
        <div class="form-group">
          <label for="DateOfBirth">Date of birth:</label>
          <input type="date" id="DateOfBirth" formControlName="DateOfBirth">
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('DateOfBirth')?.hasError('dateTooEarly') && formCheckoutPersonalInfo.get('DateOfBirth')?.touched">
            *Date of birth not valid - It's set in a far past!
          </span>
          <!--error2-->
         <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('DateOfBirth')?.hasError('dateTooNear') && formCheckoutPersonalInfo.get('DateOfBirth')?.touched">
          *Date of birth not valid - You are too young!
          </span>
          <!--error3-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('DateOfBirth')?.hasError('dateFuturistic') && formCheckoutPersonalInfo.get('DateOfBirth')?.touched">
            *Date of birth not valid - It's set in the future!
            </span>
            <!--error4-->
          <span class="mexError" *ngIf="formCheckoutPersonalInfo.get('DateOfBirth')?.hasError('required') && formCheckoutPersonalInfo.get('DateOfBirth')?.touched">
            *Date of birth required
          </span>
      
        </div>
        
      </form>
    </div>

    <!-- Shipping Information Section -->
    <div class="form-section">
      <h3 class="section-title col-md-12 mb-3">Shipping Informations</h3>
      <form [formGroup]="formCheckoutShipping">
      
        <!-- ADDRESS -->
        <div class="form-group">
          <label for="StreetAddress">Address:</label>
          <input type="text" id="StreetAddress" formControlName="StreetAddress" maxlength="50" appTrim> <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
           <!--error1-->
           <span class="mexError" *ngIf="formCheckoutShipping.get('StreetAddress')?.hasError('pattern') && formCheckoutShipping.get('StreetAddress')?.touched">
            *Address not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutShipping.get('StreetAddress')?.hasError('required') && formCheckoutShipping.get('StreetAddress')?.touched">
            *Address is required</span>
        </div>
        
        <!-- CIVIC NUMBER -->
        <div class="form-group">
          <label for="CivicNumber">Civic Number:</label>
          <input type="text" id="CivicNumber" formControlName="CivicNumber" maxlength="8" appTrim>
          <span class="mexError" *ngIf="formCheckoutShipping.get('CivicNumber')?.hasError('pattern') && formCheckoutShipping.get('CivicNumber')?.touched">
            *Civic number not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutShipping.get('CivicNumber')?.hasError('required') && formCheckoutShipping.get('CivicNumber')?.touched">
            *Civic number is required</span>
        </div>
        
        <!-- CITY -->
        <div class="form-group">
          <label for="City">City:</label>
          <select id="City" formControlName="City">
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>
            <!--error1-->
            <span class="mexError" *ngIf="formCheckoutShipping.get('City')?.hasError('required') && formCheckoutShipping.get('City')?.touched">
              *Select a city
            </span>
          </div>
        
        <!-- POST CODE -->
        <div class="form-group">
          <label for="CAP">Post Code:</label>
          <input type="text" id="CAP" formControlName="CAP" maxlength="6" (input)="forceMauisc($event)">
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutShipping.get('CAP')?.hasError('pattern') && formCheckoutShipping.get('CAP')?.touched">
            *Post Code not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutShipping.get('CAP')?.hasError('required') && formCheckoutShipping.get('CAP')?.touched">
            *Post Code is required</span>
        </div>
        
        <!-- ADDITIONAL ADDRESS -->
        <div class="form-group">
          <label for="AdditionalAddress">Additional Address informations (optional):</label>
          <input type="text" id="AdditionalAddress" formControlName="AdditionalAddress" maxlength="50" appTrim> <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
        </div>
        
      </form>
    </div>

    <!-- Payment Information Section -->
    <div class="form-section">
      <h3 class="section-title col-md-12 mb-3">Payment</h3>
      <form [formGroup]="formCheckoutPayment">
        
        <!-- CARD HOLDER NAME -->
        <div class="form-group">
          <label for="CardHolderName">CardHolder Name:</label>
          <input type="text" id="CardHolderName" formControlName="CardHolderName" maxlength="50" appTrim> <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
                 <!--error1-->
                 <span class="mexError" *ngIf="formCheckoutPayment.get('CardHolderName')?.hasError('pattern') && formCheckoutPayment.get('CardHolderName')?.touched">
                  *Card holder name not valid</span>
               <!--error2-->
                <span class="mexError" *ngIf="formCheckoutPayment.get('CardHolderName')?.hasError('required') && formCheckoutPayment.get('CardHolderName')?.touched">
                  *Card holder name is required</span>
              </div>

        <!-- CARD NUMBER -->
        <div class="form-group" style="position: relative;">
          <label for="CardNumber">Card Number:</label>
          <input type="text" id="CardNumber" formControlName="CardNumber" maxlength="19" (input)="logoCard($event)">
          
          <span class="prefix">
            <ng-container *ngIf="(typeOfCard=='Visa')">
            <img [src]="cards[0]" width="26px" height="auto">
          </ng-container>
          <ng-container *ngIf="(typeOfCard=='MasterCard')">
            <img [src]="cards[1]" width="26px" height="auto">
          </ng-container>
          <ng-container *ngIf="(typeOfCard=='AmericanExpress')">
            <img [src]="cards[2]" width="20px" height="auto" style=" position:relative; bottom:4px">
          </ng-container>
          <ng-container *ngIf="(typeOfCard=='Maestro')">
            <img [src]="cards[3]" width="26px" height="auto">
          </ng-container>
          <ng-container *ngIf="(typeOfCard=='None')">
          <img [src]="cards[4]">
          </ng-container>
          </span>
           <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CardNumber')?.hasError('required') && formCheckoutPayment.get('CardNumber')?.touched">
          *Insert a Card number
          </span>
          <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CardNumber')?.hasError('pattern') && formCheckoutPayment.get('CardNumber')?.touched">
            *Card number not valid
            </span>
        </div>

        <!-- BILLING ADDRESS STREET -->
        <div class="form-group">
          <label for="BillingAddress">Billing Address - Street:</label>
          <input type="text" id="BillingAddress" formControlName="BillingAddress" maxlength="50" appTrim> <!--Directive per funzionamento trim on blur con le regex (trim.directive.ts)-->
           <!--error1-->
           <span class="mexError" *ngIf="formCheckoutPayment.get('BillingAddress')?.hasError('pattern') && formCheckoutPayment.get('BillingAddress')?.touched">
            *Address not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('BillingAddress')?.hasError('required') && formCheckoutPayment.get('BillingAddress')?.touched">
            *Address is required</span>
        </div>
        
        <!-- BILLING ADDRESS CITY -->
        <div class="form-group">
          <label for="CityBilling">Billing Address - City:</label>
          <select id="CityBilling" formControlName="CityBilling">
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>
               <!--error1-->
               <span class="mexError" *ngIf="formCheckoutPayment.get('CityBilling')?.hasError('required') && formCheckoutPayment.get('CityBilling')?.touched">
                *Select a city
              </span>
        </div>
        
         <!-- POST CODE -->
         <div class="form-group">
          <label for="CardPostCode">Post Code:</label>
          <input type="text" id="CardPostCode" formControlName="CardPostCode" maxlength="6" (input)="forceMauisc($event)">
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CardPostCode')?.hasError('pattern') && formCheckoutPayment.get('CardPostCode')?.touched">
            *Post Code not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CardPostCode')?.hasError('required') && formCheckoutPayment.get('CardPostCode')?.touched">
            *Post Code is required</span>
        </div>

        <!-- EXPIRING DATE -->
        <div class="form-group">
          <label for="MonthExpire">Expiring Date:</label>
          <div class="input-group">
            <input type="text" id="MonthExpire" formControlName="MonthExpire" placeholder="MM" maxlength="2">
            <span class="input-group-text">/</span>
            <input type="text" id="YearExpire" formControlName="YearExpire" placeholder="YY" maxlength="2">
               <!--error1-->
               <span style="margin-left: 20px; background-color: transparent; border: none;" class="mexError"
               *ngIf="showExpiringDateError()">
           *Insert a valid expiring date
         </span>
          </div>
        </div>
        
        <!-- CVC -->
        <div class="form-group">
          <label for="CVC">CVC:</label>
          <input type="text" id="CVC" formControlName="CVC" maxlength="3">
          <!--error1-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CVC')?.hasError('pattern') && formCheckoutPayment.get('CVC')?.touched">
            *CVC not valid</span>
         <!--error2-->
          <span class="mexError" *ngIf="formCheckoutPayment.get('CVC')?.hasError('required') && formCheckoutPayment.get('CVC')?.touched">
            *CVC is required</span>
        </div>
        
      </form>
    </div>
  </div>
  <button type="submit" (click)="OnSubmit()">Acquista</button>
</section>