<p>checkout works!</p>


<section class="checkoutForm">
    <div class="container mt-5 personalInfo">
      <form [formGroup]="formCheckout" (ngSubmit)="OnSubmit()">
  
        <!-- First Name -->
        <div class="mb-3">
          <label for="FirstName" class="form-label">First Name:</label>
          <input type="text" id="FirstName" formControlName="FirstName" class="form-control">
        </div>
  
        <!-- Last Name -->
        <div class="mb-3">
          <label for="LastName" class="form-label">Last Name:</label>
          <input type="text" id="LastName" formControlName="LastName" class="form-control">
        </div>
  
        <!-- Email -->
        <div class="mb-3">
          <label for="Email" class="form-label">Email:</label>
          <input type="email" id="Email" formControlName="Email" class="form-control">
        </div>
  
        <!-- Phone Number -->
        <div class="mb-3">
              <label for="PhoneNumber" class="form-label mb-0">Phone Number:</label>
              <div class="input-group">
                <span class="input-group-text">+44</span>
                <input type="tel" id="PhoneNumber" formControlName="PhoneNumber" class="phoneNumber">
          </div>
        </div>
       
  
        <!-- Gender -->
        <div class="mb-3">
          <label for="Gender" class="form-label">Gender:</label>
          <select id="Gender" formControlName="Gender" class="form-select">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="NotDeclared">Prefer not to say</option>
          </select>
        </div>
  
        <!-- Date of Birth -->
        <div class="mb-3">
          <label for="DateOfBirth" class="form-label">Date of Birth:</label>
          <input type="date" id="DateOfBirth" formControlName="DateOfBirth" class="date">
        </div>
  
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Purchase</button>
      </form>
    </div>
  </section>
  