<p class="title">New In This Week</p>
<div class="containerHome mt-4" >
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
    <div class="cardHome">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/covmdnim1rkbkbxtm23v/NIKE+AIR+MAX+270+%28GS%29.png" style="width: 100%; height: auto;" alt="Nike Air Max 270">
      <div style="padding: 10px;">
        <h6>Nike Air Max 270</h6>
        <p>Sneakers</p>
        <p>$129.99</p>
      </div>
    </div>
</div>
