<p class="title">New In This Week</p>
<div class="containerHome mt-4" *ngIf="bestSelling" id="containerShoesHome">
  <ng-container *ngFor="let shoe of bestSelling">
    <div class="cardHome" [routerLink]="['/details',shoe.id]">
      <img [src]="shoe.immagine" style="width: 100%; height: auto;" [alt]="shoe.nome">
      <div style="padding: 10px;" id="detailsNewWeek">
        <h6>{{shoe.nome}}</h6>
        <p>{{shoe.categoria}}</p>
        <p>{{ shoe.prezzo | currency:'EUR'}}</p>
      </div>
    </div>
  </ng-container>
</div>
    