<p class="title">Shop By Sport</p>
<div class="containerHome mt-4" >
    <div class="cardHome" style="height: 272px;">
      <img src="/assets/Img/Home-page/sport_1.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
      <div class="onBanners" style="top: 210px;">
      <button type="button" style="width: 90px;">Football</button>
    </div> 
    </div>
    <div class="cardHome">
      <img src="/assets/Img/Home-page/sport_2.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
        <div class="onBanners" style="top: 210px;">
             <button type="button">Dance</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/sport_3.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
        <div class="onBanners" style="top: 210px;">
             <button type="button" style="width: 95px;">Basketball</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/sport_4.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
        <div class="onBanners" style="top: 210px;">
             <button type="button">Tennis</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/sport_5.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
        <div class="onBanners" style="top: 210px;">
             <button type="button" style="width: 150px">Training and Gym</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/sport_6.jpg" style="width: 100%; height: 100%;" alt="sport_banner">
        <div class="onBanners" style="top: 210px;">
             <button type="button" style="width: 80px">Running</button>
           </div> 
      </div>
</div>
