<section id="itemAdded" *ngIf="prodottoToPush">
    <div>
        <span class="smallV"></span>Added to the basket <span><button type="button" (click)="itemAddedOn.emit(false)">x</button></span>
        <div class="productBasket">
            <div class="imgProduct">
                <img [src]="prodottoToPush.immagine">
            </div>
            <div class="makeFlex">
            <div class="detailsProduct">
                <p>{{prodottoToPush.nome}}</p>
                <p>Size: {{prodottoToPush.taglia}}</p>
                <p class="sizeBasket"></p>
                <p>{{prodottoToPush.prezzo| currency:'EUR': 'symbol' :'1.2-2'}} Quantity:{{prodottoToPush.quantita}}</p>
            </div>
            <div id="buttonsBasket">
                <button type="button" (click)="itemAddedOn.emit(false)" [routerLink]="['/basket']">Go to your basket</button>
            </div>
        </div>
        </div>
        </div>
</section>



