<div *ngIf="prodotto">
<section id="shoesImgList">
    <ul>
       <ng-container *ngFor="let square of numbers; let ind=index">
       <div 
       [ngClass]="{'borderAngular':ind==selectedSideImage}"
       (click)="selectAnotherSideImage(ind)"
       >
       <ng-container *ngIf="ind==5">
        <img [src]="prodotto.immagine"alt="shoe">
    </ng-container>
    <img [src]="'/assets/Img/Scarpa_2/' + square + '.jpg'" alt="shoe">
    </div>
</ng-container>

    </ul>
</section>
<section id="bigShow">
    <ng-container *ngIf="selectedSideImage==5">
    <div class="frameImg" [ngStyle]="{'background-image': 'url(' + prodotto.immagine + ')'}"></div>
</ng-container>
<ng-container *ngIf="selectedSideImage!=5">
    <div class="frameImg" [ngStyle]="{'background-image': 'url(/assets/Img/Scarpa_2/' + (selectedSideImage + 1) + '.jpg)'}"></div>
</ng-container>
    <div class="buttons">
        <button type="button" (click)=" decreaseSideImage(selectedSideImage)" style="margin-right: 5px;">
            &lt;
        </button>
        <button type="button" (click)="increaseSideImage(selectedSideImage)">
            &gt;
        </button>
    </div>
</section>
<section id="sizes">
    <h2>{{prodotto.nome}}</h2>
    <p>{{prodotto.categoria}}</p>
    <p>{{ prodotto.prezzo | currency:'EUR'}}</p>
    <h4>Choose your size</h4>
 <div id="whereToInsertSizes">
    <ng-container *ngFor="let size of prodotto.taglie_disponibili; let i = index">
        <div 
        [ngClass]="{'selectedSizeAngular': i==selectedToBlack, 'noSelected': i!==selectedToBlack}"
         (click)="selectAnotherSize(i)">{{size}}</div>
    </ng-container>
 </div>
 <div id="addToButton">
    <button type="button" id="realButton" (click)="itemAddetoToBasket()">Add to Basket</button>
 </div>
</section>
</div>
<ng-container *ngIf="itemAdded">
<app-added-to-basket [prodottoToPush]="prodottoInfoToPush"></app-added-to-basket>
</ng-container>