<div *ngIf="prodotto">
<section id="shoesImgList">
    <ul>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/preVideo.png" alt="shoeVideo">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/1.jpg" alt="shoe">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/2.jpg" alt="shoe">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/3.jpg" alt="shoe">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/4.jpg" alt="shoe">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/5.jpg" alt="shoe">
        </div>
        <div  class="border clickable">
            <img src="/assets/Img/Scarpa_2/6.jpg" alt="shoe">
        </div>
        <div class="clickable">
            <img src="/assets/Img/Scarpa_2/7.jpg" alt="shoe">
        </div>

    </ul>
</section>
<section id="bigShow">
    <div class="frameImg" [ngStyle]="{'background-image': 'url(' + prodotto.immagine + ')'}"></div>
    <div class="buttons">
        <button type="button" class="clickable">
            &lt;
        </button>
        <button type="button" class="clickable">
            &gt;
        </button>
    </div>
</section>
<section id="sizes">
    <h2>{{prodotto.nome}}</h2>
    <p>{{prodotto.categoria}}</p>
    <p>{{ prodotto.prezzo | currency:'EUR'}}</p>
    <h4>Choose your size</h4>
 <div id="whereToInsertSizes">
    <ng-container *ngFor="let size of prodotto.taglie_disponibili; let i = index">
        <ng-container *ngIf="i == 7">
            <div class="styleSelectedSizeAngular">{{size}}</div>
        </ng-container>
        <div>{{size}}</div>
    </ng-container>
 </div>
 <div id="addToButton">
    <button type="button" id="realButton">Add to Bag</button>
 </div>
</section>
</div>