<div *ngIf="prodotto">
<section id="shoesImgList">
    <ul>
       <ng-container *ngFor="let square of numbers; let ind=index">
       <div 
       [ngClass]="{'borderAngular':ind==selectedSideImage}"
       (click)="selectAnotherSideImage(ind)"
       >
       <ng-container *ngIf="ind==5">
        <img [src]="prodotto.immagine"alt="shoe">
    </ng-container>
    <img [src]="'/assets/Img/Scarpa_2/' + square + '.jpg'" alt="shoe">
    </div>
</ng-container>

    </ul>
</section>
<section id="bigShow">
    <ng-container *ngIf="selectedSideImage==5">
    <div class="frameImg" [ngStyle]="{'background-image': 'url(' + prodotto.immagine + ')'}"></div>
</ng-container>
<ng-container *ngIf="selectedSideImage!=5">
    <div class="frameImg" [ngStyle]="{'background-image': 'url(/assets/Img/Scarpa_2/' + (selectedSideImage + 1) + '.jpg)'}"></div>
</ng-container>
    <div class="buttons">
        <button type="button" (click)=" decreaseSideImage(selectedSideImage)" style="margin-right: 5px;">
            &lt;
        </button>
        <button type="button" (click)="increaseSideImage(selectedSideImage)">
            &gt;
        </button>
    </div>
</section>
<section id="sizes">
    <h2>{{prodotto.nome}}</h2>
    <p>{{prodotto.categoria}}</p>
    <p>{{ prodotto.prezzo | currency:'EUR'}}</p>
    <h4>Choose your size</h4>
 <div id="whereToInsertSizes">
    <ng-container *ngFor="let size of prodotto.taglie_disponibili; let i = index">
        <div 
        [ngClass]="{'selectedSizeAngular': i==selectedToBlack, 'noSelected': i!==selectedToBlack}"
         (click)="selectAnotherSize(i)">{{size}}</div>
    </ng-container>
    <div id="selectQuantitBasket">
        Quantity
        <select name="Quantity" id="quantity1" [(ngModel)]="selectedQuantity" (change)="onQuantityChange($event)"> <!-- usiamo un evento per questione di conflitto con ngModel-->
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
    </div>
 </div>
 <div id="addToButton">
    <button type="button" id="realButton" (click)="itemAddetoToBasket()">Add to Basket</button>
 </div>
</section>
</div>
<ng-container *ngIf="itemAdded && stopAlreadyInBasket==false">
<app-added-to-basket  (itemAddedOn)="itemAddedToBasketFromEmit($event)"  [prodottoToPush]="prodottoInfoToPush"></app-added-to-basket>
</ng-container>

<ng-container *ngIf="showMaximumShoesMessage">
    <div id="overlay"></div>
    <div id="messageMax">
      <p>Your basket is FULL</p>
      <button type="button" class="okMessage" (click)="hideMaxMessage()">Ok</button>
    </div>
  </ng-container>

  <ng-container *ngIf="showAlreadyInBasketMessage">
    <div id="overlay"></div>
    <div id="messageMax">
      <p>This item is already in your <a [routerLink]="['/basket']">Basket!</a></p>
      <button type="button" class="okMessage" (click)="hideAlreadyInBasketMessage()">Ok</button>
    </div>
  </ng-container>