    <div class="advertMember">
        <p>Free Shipping for Members!</p>
        <p>
            Join us and take advantage of our fast and free shipping method!!! 
            <span>Register</span> or <span>Log-in</span>
        </p>
    </div>
<div class="noItemsInBasket" *ngIf="ns.prodottiInBasket.length<=0">
    YOUR BASKET IS EMPTY
    <button type="button" [routerLink]="['']">Back</button>
</div>

    <section id="wrapperBasketPage" *ngIf="ns.prodottiInBasket.length>0">
    <div id="column1">
        <ng-container *ngFor="let prodotto of prodottiInBasket; let i = index">
            <div id="shoeBasket">
                <img class="imgShoeBasket" [src]="prodotto.immagine" [routerLink]="['/details',prodotto.id]">
                <div class="detailShoeBasket">
                    <div id="binShoe" (click)="binIt(i)"></div>
                    <p>{{prodotto.nome}}</p>
                    <p>Category: {{prodotto.categoria}}</p>
                    <p>Size: {{prodotto.taglia}}</p>

                    <div id="selectQuantity">
                        Quantity
                        <select name="Quantity" id="quantity" [(ngModel)]="prodotto.quantita" (change)="onQuantityChange(i,$event)">
                            <option *ngFor="let quantity of [1,2,3,4,5]" [value]="quantity">{{quantity}}</option>
                        </select>
                    </div>

                    <div class="priceshoeBasket">{{(prodotto.prezzo*prodotto.quantita)| currency:'EUR': 'symbol' :'1.2-2'}}</div>
                </div>
            </div>
            <ng-container *ngIf="i!=prodottiInBasket.length-1">
            <hr>
        </ng-container>
        </ng-container>
    </div>

    <div id="column2">
        <p>Summary</p>
    
        <div class="wrapperColumn2">
            <!-- Totale -->
             <div class="listOfProductsSummary">
             <ul *ngFor="let prodottoListato of prodottiInBasket">
            <li class="itemListed">{{prodottoListato.quantita}}x&nbsp;<span>{{prodottoListato.nome}}&nbsp;</span>(<span style="color: gray; font-size: 0.9em;">Size: {{prodottoListato.taglia}}</span>)</li>
             </ul>
            <p class="items-cost">Items cost: {{totalAtAllProducts | currency:'EUR': 'symbol' :'1.2-2'}}</p>
        </div>
            <!-- Radio buttons per la spedizione -->
            <div>
                <label class="shipping-option">
                    <input type="radio" name="shipping" [(ngModel)]="selectedShipping" [value]="0" (change)="updateTotalAfterShipping()">
                    Free Shipping <span>5 - 7 working days delivery</span>
                </label>
                <label class="shipping-option">
                    <input type="radio" name="shipping" [(ngModel)]="selectedShipping" [value]="3.99" (change)="updateTotalAfterShipping()">
                   € 3.99 <span>2 - 3 working days delivery</span>
                </label>
                <label class="shipping-option">
                    <input type="radio" name="shipping" [(ngModel)]="selectedShipping" [value]="5.99" (change)="updateTotalAfterShipping()">
                   € 5.99 <span>Next working day delivery</span>
                </label>
            </div>
        
            <!-- Totale aggiornato -->
            <p class="totalAFterShipping">Total: {{TotalAFterShipping | currency:'EUR': 'symbol' :'1.2-2'}}</p>
    
            <!-- Bottone di acquisto -->
            <div class="endButtons" *ngIf="ns.prodottiInBasket.length>0 &&ns.numberOfShoes<ns.NMAXPairs+1">
                <button type="button" id="purchase" (click)="sendTotalToNs()" [routerLink]="['/checkout']">Checkout</button>
            </div>
    
    
    <ng-container *ngIf="showMaximumMessage">
        <ng-container ></ng-container>
    <div id="overlay"></div>
    <div id="messageMax" style="width: 800px;">
      <p>TOO MANY ITEMS! Maximum pairs allowed:  <span style="color: rgb(16, 0, 158);">{{this.ns.NMAXPairs}}</span></p>
      <p style="font-size: 0.9em;"><span style="color: rgb(255, 166, 0);">Tip: </span> Adjust the quantity of one of your items</p>
      <button type="button" class="okMessage" (click)="hideMaxMessage()">Ok</button>
    </div>
  </ng-container>

