    <div class="advertMember">
        <p>Free Shipping for Members!</p>
        <p>
            Join us and take advantage of our fast and free shipping method!!! 
            <span>Register</span> or <span>Log-in</span>
        </p>
    </div>
    <section id="wrapperBasketPage">
    <div id="column1">
        <ng-container *ngFor="let prodotto of prodottiInBasket; let i = index">
            <div id="shoeBasket">
                <img class="imgShoeBasket" [src]="prodotto.immagine">
                <div class="detailShoeBasket">
                    <div id="binShoe"></div>
                    <p>{{prodotto.nome}}</p>
                    <p>Category: {{prodotto.categoria}}</p>
                    <p>Size: {{prodotto.taglia}}</p>

                    <div id="selectQuantity">
                        Quantity
                        <select name="Quantity" id="quantity" [(ngModel)]="prodotto.quantita" (change)="onQuantityChange(i,$event)">
                            <option *ngFor="let quantity of [1,2,3,4,5]" [value]="quantity">{{quantity}}</option>
                        </select>
                    </div>

                    <div class="priceshoeBasket">{{(prodotto.prezzo*prodotto.quantita)| currency:'EUR': 'symbol' :'1.2-2'}}</div>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>

    <div id="column2">
        <p>Summary</p>

        <div class="wrapperColumn2">
            <button type="button" id="refresh">Refresh</button>
            <p class="total"></p>

            <div class="endButtons" *ngIf="numberOFPairs<16">
                <button type="button" id="purchase">Purchase</button>
                <button type="button" id="paypal">
                    <img src="assets/Img/misc/paypal.png">
                </button>
                <div class="endButtons" *ngIf="numberOFPairs>15">
                    <p style="font-size: 0.7; color: red;">*Too many items! Maximum 15 allowed for the purchase</p>
                </div>
            </div>
        </div>
    </div>
    
    <ng-container *ngIf="showMaximumMessage">
        <ng-container ></ng-container>
    <div id="overlay"></div>
    <div id="messageMax" style="width: 800px;">
      <p>TOO MANY ITEMS! Maximum pairs allowed:  <span style="color: red;">15</span></p>
      <p style="font-size: 0.9em;"><span style="color: yellow;">Tip: </span> change the quantity of one of your items</p>
      <button type="button" class="okMessage" (click)="hideMaxMessage()">Ok</button>
    </div>
  </ng-container>

</section>
