<div class="containerList mt-4" *ngIf="prodotti && prodotti.length > 0; else noProducts">
    <ng-container *ngFor="let shoe of prodotti">
      <div class="cardList" [routerLink]="['/details',shoe.id]">
        <img [src]="shoe.immagine" style="width: 100%; height: auto;" [alt]="shoe.nome">
        <div style="padding: 10px;" id="detailsNewWeek">
          <h6>{{shoe.nome}}</h6>
          <p>{{shoe.categoria}}</p>
          <p>{{ shoe.prezzo | currency:'EUR'}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #noProducts>
    <div class="noItems">
      <p>No Items found.</p>
    </div>
  </ng-template>
