<p class="title">Nike membership</p>
<div class="containerHome mt-4" >
    <div class="cardHome">
      <img src="/assets/Img/Home-page/banner_2.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
    <div class="onBanners">
     <p>Member Product</p>
      <p>Your Exclusive Access</p>
      <button type="button">Shop</button>
    </div> 
    </div>
    <div class="cardHome">
        <img src="/assets/Img/Home-page/banner_5.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
        <div class="onBanners">
            <p>Member Rewards</p>
             <p>How We Say Thank You</p>
             <button type="button" style="width: 100px">Celebrate</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/banner_6.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
        <div class="onBanners">
            <p>Sport & Wellness</p>
             <p>Movement Where You're At</p>
             <button type="button">Move</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/banner_1.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
        <div class="onBanners">
            <p>Nike By You</p>
             <p>Your Customisation Service</p>
             <button type="button" style="width: 105px">Customise</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/banner_3.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
        <div class="onBanners">
            <p>Nike Apps</p>
             <p>Be At Your Best</p>
             <button type="button" style="width: 100px">Download</button>
           </div> 
      </div>
      <div class="cardHome">
        <img src="/assets/Img/Home-page/banner_4.jpg" style="width: 100%; height: 100%;" alt="nike_banner">
        <div class="onBanners" style="top: 267px;">
            <p></p>
             <p>More Of Membership</p>
             <button type="button" style="width: 80px;">Explore</button>
           </div> 
      </div>
</div>
